@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat";
}

/* Styles de base */
body {
  padding: 0;
  margin: 0;
  background-color: #10100F;
}

.header_nav {
  padding: 10px;
  background-image: url(/img/bg_main_page.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 200px; /* Choisissez la taille souhaitée pour le logo */
}

.navbar_container ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #fff;
}

.navbar_container li {
  margin-right: 10px;
  cursor: pointer;
}

/* Styles pour la barre de navigation */
.navbar_container > ul:first-child {
  flex-grow: 1;
}

.navbar_container > ul:first-child li {
  font-weight: bold;
}

/* Styles pour le menu burger */
.navbar_container > ul:last-child {
  position: relative;
}

.navbar_container > ul:last-child ul {
  display: none;
  position: absolute;
  top: 30px; /* Ajustez la position verticale du menu déroulant */
  right: 0;
  background-color: #f5f5f5;
  padding: 10px;
  z-index: 1;
}

.navbar_container > ul:last-child:hover ul {
  display: block;
  background-color: #1F1E1B;
}

.navbar_container > ul:last-child ul li {
  cursor: pointer;
}

#demo_btn{
  background-color: #1F1E1B;
  color: #FDD100;
  border: 2px solid #FDD100;
  border-radius: 25px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.header{
  position: absolute;
  top: 20px;
  left: 200px;
  width: 100%;
}

.header_titre{
  position: absolute;
  top: 150px;
  width: 40%;
  font-size: 64px;
  color: white;
}

.jaune{
  color: #FDD100;
}

.header_p{
  position: absolute;
  top: 320px;
  width: 30%;
  font-size: 24px;
  color: white;
}

.header_button{
  position: absolute;
  top: 400px;
  border-radius: 25px;
  font-size: 24px;
  border: 2px solid #FDD100;
  background-color: #FDD100;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.avantages{
  background-color: black;
}

.avantage_titre{
  color: white;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 10px;
}

.avantage_container_1{
  display: flex;
  width: 120rem;
  height: 55rem;
  margin-top: 20px;
}

.avantage_1{
  border: 1px solid #FDD100;
  border-radius: 10px;
  width: 60%;
  height: 75%;
  text-align: center;
  margin-left: 25px;
  padding: 15px;
}

.img_1{
  width: 20%;
  margin: auto;
}

.titre_1{
  color: white;
  position: relative;
  font-size: 2rem;
  margin: auto;
  width: 60%;
  padding: 15px;
}

.p_1{
  color: white;
  width: 80%;
  font-size: 1.5rem;
  margin: auto;
}

.avantage_2{
  border: 1px solid #FDD100;
  border-radius: 10px;
  width: 60%;
  height: 75%;
  text-align: center;
  margin-left: 25px;
  padding: 15px;
}

.img_2{
  margin: auto;
  width: 20%;
}

.titre_2{
  color: white;
  position: relative;
  font-size: 2.1rem;
  margin: auto;
  width: 60%;
  padding: 15px;
}

.p_2{
  color: white;
  width: 80%;
  font-size: 1.7rem;
  margin: auto;
}

.avantage_3{
  border: 1px solid #FDD100;
  border-radius: 10px;
  width: 60%;
  height: 75%;
  text-align: center;
  margin-left: 25px;
  padding: 15px;
}

.img_3{
  margin: auto;
  width: 20%;
}

.titre_3{
  color: white;
  position: relative;
  font-size: 2rem;
  margin: auto;
  width: 60%;
  padding: 15px;
}

.p_3{
  color: white;
  width: 80%;
  font-size: 1.7rem;
  margin: auto;
  margin-top: 45px;
}

.avantage_container_2{
  display: flex;
  width: 120rem;
  height: 55rem;
}

.avantage_4{
  border: 1px solid #FDD100;
  border-radius: 10px;
  width: 60%;
  height: 75%;
  text-align: center;
  margin-left: 25px;
  padding: 15px;
}

.img_4{
  margin: auto;
  width: 20%;
}

.titre_4{
  color: white;
  position: relative;
  font-size: 2rem;
  margin: auto;
  width: 60%;
  padding: 15px;
}

.p_4{
  color: white;
  width: 80%;
  font-size: 1.7rem;
  margin: auto;
  margin-top: 35px;
}

.avantage_5{
  border: 1px solid #FDD100;
  border-radius: 10px;
  width: 60%;
  height: 75%;
  text-align: center;
  margin-left: 25px;
  padding: 15px;
}

.img_5{
  margin: auto;
  width: 20%;
}

.titre_5{
  color: white;
  position: relative;
  font-size: 2rem;
  margin: auto;
  width: 60%;
  padding: 15px;
}

.p_5{
  color: white;
  width: 80%;
  font-size: 1.7rem;
  margin: auto;
  margin-top: 35px;
}

.avantage_6{
  border: 1px solid #FDD100;
  border-radius: 10px;
  width: 60%;
  height: 75%;
  text-align: center;
  margin-left: 25px;
  padding: 15px;
}

.img_6{
  margin: auto;
  width: 20%;
}

.titre_6{
  color: white;
  position: relative;
  font-size: 2rem;
  margin: auto;
  width: 60%;
  padding: 15px;
}

.p_6{
  color: white;
  width: 80%;
  font-size: 1.7rem;
  margin: auto;
  margin-top: 35px;
}

.btn {
  display: inline-flex;
  padding: 20px 56px;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  background: linear-gradient(151deg, #FDD100 0%, #EDB021 100%);
  color: #0A0A09;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.footer_button {
  position: fixed;
  background-color: #202022;
  right: 20px;
  bottom: 20px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

@media (hover: hover) {
    .footer_button:hover {
    border: solid 2px #e2c610;
  }
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #F2EEE2;
}

h2 {
  color: #FDD100;
}

.ml_container {
  margin-top: 120px;
}

.p_ml {
  color: #F2EEE2;
  font-size: 24px;
  font-family: "Montserrat";
  line-height: 32px;
  margin-top: 16px;
}

.h_ml {
  text-align: center;
  text-transform: uppercase;
}

.ml {
  margin-left: 163px;
  width: 1394px;
  margin-top: 40px;
}

.footer {
  width: 1680px;
  height: 538px;
  border-radius: 32px 32px 0px 0px;
  border: 1px solid #6D5B01;
  background-color: #0A0A09;
  color: #F2EEE2;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 120px;
  margin-top: 120px;
}