@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat";
  scroll-behavior:smooth;
}

h1 {
  text-transform: uppercase;
  color: #F2EEE2;
}

h2 {
  color: #FDD100;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  color: #F2EEE2;
}

/* Styles de base */
body {
  background-color: #10100F;
}

.header_nav {
  background-image: url(/img/bg_main_page.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 976px;
  width: 1920px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 468px;
  margin-top: 40px;
}

.navbar_container ul {
  display: flex;
  align-items: center;
  color: #F2EEE2;
  font-size: 24px;
  line-height: 32px;
}

li:hover {
  color: #FDD100;
}

.navbar_container li {
  margin-right: 40px;
  cursor: pointer;
}

.navbar_container > ul:last-child ul {
  display: none;
}

/*
.navbar_container3 {

  display: none;
  position: absolute;
  top: 30px; 
  right: 10300px;
  background-color: #f5f5f5;
  padding: 10px;
  z-index: 1;
}

.navbar_container2:hover > .navbar_container3 {
  right: 10px;
  width: 100px;
  height: 100px;
  display: block;
  background-color: #1F1E1B;
}
*/

#demo_btn {
  display: inline-flex;
  height: 64px;
  padding: 8px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 56px;
  border: 1px solid #FDD100;
  background: #1F1E1B;
  color: #FDD100;
  text-align: center;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
}

#demo_btn:hover {
  border-radius: 56px;
  border: 1px solid #FDD100;
  background: #1F1E1B;
  box-shadow: 4px 4px 24px 0px rgba(253, 209, 1, 0.56);
}

#demo_btn:active {
  border-radius: 56px;
  border: 1px solid #FDD100;
  background: #1F1E1B;
  box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.58) inset;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 120px;
}

.header_titre {
  width: 900px;
  font-size: 64px;
  color: white;
  margin-bottom: 32px;
}

.jaune {
  color: #FDD100;
}

.header_p {
  font-size: 24px;
  width: 820px;
  color: white;
  margin-bottom: 32px;
}

.header_button {
  border-radius: 25px;
  font-size: 24px;
  border: 2px solid #FDD100;
  background-color: #FDD100;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.titre_main {
  color: white;
  text-align: center;
  font-size: 48px;
  margin-top: 120px;
  margin-bottom: 64px;
  text-transform: uppercase;
}

.avantage_container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.avantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: #0A0A09;
  height: 376px;
  width: 533px;
  margin-left: 24px;
}

.content {
  margin-bottom: 16px;
}

.avantage:hover {
  border-radius: 16px;
  background: #0A0A09;
  margin-left: 24px;
  padding: 16px;
  height: 376px;
  width: 533px;
  border-bottom: solid #FDD101 8px;
  box-shadow: 4px 2px 16px 0px rgba(255, 251, 52, 0.32);
}

.titre {
  color: white;
  position: relative;
  font-size: 24px;
  line-height: 32px;
  margin: auto;
  width: 469px;
}

.p_avantage {
  color: white;
  width: 469px;
  font-size: 14px;
  line-height: 24px;
}

.img_avantage {
  margin-bottom: 8px;
}

.btn {
  display: inline-flex;
  padding: 20px 56px;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  background: linear-gradient(151deg, #FDD100 0%, #EDB021 100%);
  color: #0A0A09;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.btn:hover {
  background: linear-gradient(151deg, #FDD100 0%, #EDB021 100%);
  box-shadow: 4px 4px 24px 0px rgba(253, 209, 1, 0.56);
}

.btn:active {
  border-radius: 56px;
  background: linear-gradient(151deg, #FDD100 0%, #EDB021 100%);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.48) inset;
}

.footer_button {
  background-color: #1F1E1B;
  border: 1px solid #FDD100;  
  box-shadow: 8px 8px 16px 0px #000;
  border-radius: 24px;
  width: 60px;
  height: 60px;
}

@media (hover: hover) {
    .footer_button:hover {
    border: solid 2px #e2c610;
  }
}

.application {
    background-image: url(/img/bg_about_product.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 976px;
    width: 1920px;
}

.slider {
  width: 800px;
  height: auto;
  overflow: hidden;
}

.middle {
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: relative;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  width: 20px;
  height: 20px;
  margin: 8px;
  cursor: pointer;
  border: 1px solid #6D5B01;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.bar:hover, 
.bar:focus {
  background-color: #FDD100;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
}

.slide {
  width: 25%;
  transition: all 0.6s ease;
}

.img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -25%;
}

#r3:checked ~ .s1 {
  margin-left: -50%;
}

#r4:checked ~ .s1 {
  margin-left: -75%;
}

.itc-slider-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 56px;
  border: 1px solid #6D5B01;
  background: #0A0A09;
  text-align: center;
  cursor: pointer;
}

.itc-slider-btn:hover {
  background: rgb(0 0 0 / 30%);
  border: 1px solid #FDD100;
}

.team_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 716px;
 }
 
 .arrow_circle1 {
   display: flex;
   width: 80px;
   height: 80px;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   border-radius: 100%;
   border: 1px solid #FDD100;
   background: #0A0A09;
   order: 1;
 }
 
 .arrow_circle2 {
   display: flex;
   width: 80px;
   height: 80px;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   border-radius: 100%;
   border: 1px solid #FDD100;
   background: #0A0A09;
 }
 
 .h3_team {
   font-size: 24px ;
   margin-top: 24px;
 }
 
 .h4_team {
   font-size: 16px;
   font-weight: 500;
   color: white;
 }
 
 .p_team {
   font-size: 16px ;
   font-weight: lighter;
   color: white;
 }
 
 
 .card_container1 {
   flex-direction: column wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 392px;
   line-height: 26px ;
 }
 
 .card_container2 {
   flex-direction: column wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 580px;
   width: 392px;
   line-height: 26px ;
   position: absolute;
   z-index: 1; 
 }
 
 .card_container3 {
   flex-direction: column wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 392px;
   line-height: 26px ;
   visibility: hidden;
 }
 
 .card_container4 {
   flex-direction: column wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 392px;
   line-height: 26px ;
 }
 
 .team_picture1 {
   height: 244px;
   width: 188px;
   flex-shrink: 0;
   z-index: 3;
   position: absolute;
   left: 450px;
   top: 3158px;
 }
 
 .team_picture4 {
   height: 244px;
   width: 188px;
   flex-shrink: 0;
   z-index: 3;
   position: absolute;
   top: 3158px;
   right: 430px;
 }
 
 .main_team_picture {
   height: 412px ;
   width: 310px;
   flex-shrink: 0;
   position: absolute;
   z-index: 3;
   left: 44px;
 }
 
 .background {
   width: 346px;
   height: 346px;
   flex-shrink: 0;
   border-radius: 32px;
   border: 2px solid #FDD100;
   background: #0A0A09;
   box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.48);
   position: relative;
   margin-top: 66px;
   z-index: 2;
   justify-content: center;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
 }
 
 .background_small {
   width: 220px;
   height: 220px;
   flex-shrink: 0;
   border-radius: 32px;
   background: #0A0A09;
   box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.48);
   position: relative;
   margin-top: 0px;
   z-index: 2;
   justify-content: center;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
 }
 
 .partners_container {
   width: 1980px;
   height: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin-left: auto;
   margin-right: auto;
   margin-top: 360px;
 }
 
 .img_container {
   width: 248px;
   height: 248px;
   flex-shrink: 0;
   border-radius: 32px;
   background: rgba(1, 1, 1, 0.64);
   backdrop-filter: blur(8px);
   justify-content: center;
   align-items: center;
   display: flex;
 }

 .img_container:hover {
  border: 1px solid #EDB021;
 }
 
 #background_partners {
   position: absolute;
   top: 3910px;
 }

 /* FAQ - debut */

.faq {
  position: relative;
}
 
 .faq_list {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 24px;
 }
 
 .faq {
  position: relative;
   margin-top: 500px;
 }

.faq_list_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq_list_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq_head {
  display: flex;
  align-items: center;
}

.faq_icon {
  margin-left: 24px;
  background-color: transparent;
  border: transparent;
}

.faq_h {
  color: #F2EEE2;
  font-size: 24px;
  line-height: 32px;
}

.faq_p {
  color: #DBD4BE;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  margin-top: 24px;
}

.faq_item {
  width: 820px;
  height: auto;
  border-radius: 16px;
  background: #0A0A09;
  margin-top: 24px;
  padding: 28px 32px;
}

 /* FAQ - fin */

.contact_container {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow :column wrap;
  align-items: center;
  justify-content: center;
  margin-left : auto;
  margin-right : auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow : column wrap;
}

input {
  width: 820px;
  height: 80px;
  border-radius: 24px;
  border: 1px solid #6D5B01;
  background: #0A0A09;
  font-size: 20px;
  color: #DBD4BE;
  margin-top: 16px;
  padding-left: 10px;
}

textarea {
  width: 820px;
  height: 246px;
  border-radius: 24px;
  border: 1px solid #6D5B01;
  background: #0A0A09;
  font-size: 20px;
  color: #DBD4BE;
  margin-top: 16px;
  padding: 10px ;
}

.contact_button {
  height: 64px;
  padding: 8px 64px;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  border: 1px solid #FDD100;
  background: #1F1E1B;
  color: #FDD100;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.contact_button:hover {
  border-radius: 56px;
  border: 1px solid #FDD100;
  background: #1F1E1B;
  box-shadow: 4px 4px 24px 0px rgba(253, 209, 1, 0.56);
}

.contact_button:active {
  border-radius: 56px;
  border: 1px solid #FDD100;
  background: #1F1E1B;
  box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.58) inset;
}

/* Footer _ début */

.footer {
  width: 1680px;
  height: 538px;
  border-radius: 32px 32px 0px 0px;
  border: 1px solid #6D5B01;
  background-color: #0A0A09;
  color: #F2EEE2;
  text-decoration: none; 
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 120px;
  margin-top: 120px;
}

a {
  color: #F2EEE2;
}

a:hover {
  color: #FDD100;
}

.footer_titre {
  margin: auto;
  left: 53rem;
  top: 447rem;
}

.footer_button {
  left: 100rem;
  top: 400rem;
  background-color: #1F1E1B;
  border: 1px solid #FDD100;
  box-shadow: 8px 8px 16px 0px #000;
  border-radius: 24px;
  position: absolute;
  background-color: #202022;
  width: 60px;
  height: 60px;
}

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  margin-top: 30px;
  text-decoration: none;
}

.first {
  display: flex;
  gap: 10rem;
  /* position: absolute; */
  /* align-items: center;
  justify-content: space-around; */
  text-align: center;
  text-decoration: none;
  color: #fff;
  /* left: 25rem;
  top: 452rem; */
}

.second {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.phone, .mail {
  display: flex;
  flex-direction: row;
}

.third {
  display: flex;
  gap: 24px;
}

/* Footer - fin */