*{
  margin: 0;
  padding: 0;
}




.footer_button {
    /* фиксированное позиционирование */
  position: fixed;
  /* цвет фона */
  background-color: #202022;
  /* расстояние от правого края окна браузера */
  right: 20px;
  /* расстояние от нижнего края окна браузера */
  bottom: 20px;
  /* скругление верхнего левого угла */
  border-radius: 80px;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 60px;
}

@media (hover: hover) {
    .footer_button:hover {
    border: solid 2px #e2c610; /* цвет заднего фона при наведении */
  }
}